<!DOCTYPE html>
<html>
<head>
    <title>Supply Chain Dashboard</title>
</head>
<body>
    <h1>Supply Chain Management Dashboard</h1>
    <nav>
        <a href="/add_product">Add New Product</a> |
        <a href="/transfer_ownership">Transfer Ownership</a> |
        <a href="/product_details">View Product Details</a> |
        <a href="/product_history">View Product History</a> |
        <a href="/blockchain_data">View Blockchain Data</a> | <!-- New Link -->
        <a href="/predict">Predictive Analysis</a> |
        <a href="/anomalies">Anomaly Detection</a>
    </nav>       
</body>
</html>
